# Segmenting and Clustering the neighborhoods in Toronto

## Web Scraping to acquire Toronto's data

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [3]:
soup= BeautifulSoup(source,'lxml')

In [4]:
table = soup.find('table')

In [5]:
output_rows = []
for table_row in table.findAll('tr'):
    columns = table_row.findAll('td')
    output_row = []
    for column in columns:
        output_row.append(column.text)
    output_rows.append(output_row)
    

import pandas as pd
df=pd.DataFrame(output_rows)

In [6]:
df.columns=['Postcode','Borough','Neighbourhood']
df = df.iloc[3:]

## Data Cleaning to achieve the required dataset shape

### 1. Remove the Not Assigned Boroughs

In [7]:
df = df[df.Borough != 'Not assigned']

### 2. Remove the \n at the end of the Neighbourhoods' strings

In [8]:
a=df.Neighbourhood

In [9]:
a=a.str.strip('\n')

In [10]:
df1=df[['Postcode','Borough']]

In [11]:
df1['Neighbourhood']=a

### 3. Neighbourhoods related to the same Postcode on the same line

In [12]:
Postcode2Borough_df=df1[['Postcode','Borough']].copy()
Postcode2Borough_dict=Postcode2Borough_df.set_index('Postcode')['Borough'].to_dict()
unicPostcode=df1.Postcode.unique()
df2=pd.DataFrame(unicPostcode)
df2.columns=['Postcode']
df2['Borough']=df2['Postcode'].map(Postcode2Borough_dict)

In [13]:
Neighbourhood2Postcode_df=df1[['Postcode','Neighbourhood']].copy()
Neighbourhood2Postcode_df=Neighbourhood2Postcode_df.groupby('Postcode')['Neighbourhood'].agg(', '.join)
Neighbourhood2Postcode_dict=Neighbourhood2Postcode_df.to_dict()

df2['Neighbourhood']=df2['Postcode'].copy().map(Neighbourhood2Postcode_dict)

### 4. Remove the 'Not Assigned' Boroughs

In [14]:
for i in range(0,len(df2.Neighbourhood)):
    if df2.Neighbourhood.iloc[i]=='Not assigned':
        df2.Neighbourhood.iloc[i]=df2.Borough.iloc[i]
df2.head(12)

,Postcode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Harbourfront, Regent Park"
3,M6A,North York,"Lawrence Heights, Lawrence Manor"
4,M7A,Queen's Park,Queen's Park
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Rouge, Malvern"
7,M3B,North York,Don Mills North
8,M4B,East York,"Woodbine Gardens, Parkview Hill"
9,M5B,Downtown Toronto,"Ryerson, Garden District"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ..."

In [15]:
df2.shape

(103, 3)

In [16]:
coo=pd.read_csv('Geospatial_Coordinates.csv',sep=',')

In [17]:
df3 = df2.set_index('Postcode').join(coo.set_index('Postal Code'))

In [18]:
df3= df3.reset_index()

In [19]:
df3.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront, Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494

## Exploration

In [20]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

### 1. Selecting one neighbourhood: Etobicoke

In [21]:
etobicoke_data = df3[df3['Borough'] == 'Etobicoke'].reset_index(drop=True)
etobicoke_data.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
1,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",43.650943,-79.554724
2,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol...",43.643515,-79.577201
3,M9P,Etobicoke,Westmount,43.696319,-79.532242
4,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724

In [22]:
address = 'Etobicoke, ON, Canada'
geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Etobicoke are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Etobicoke are 43.6435559, -79.5656326.

In [23]:
# create map of Manhattan using latitude and longitude values
map_etobicoke = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, label in zip(etobicoke_data['Latitude'], etobicoke_data['Longitude'], etobicoke_data['Neighbourhood']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_etobicoke)  
    
map_etobicoke

### 2. Define Foursquare Credentials and Version

In [24]:
CLIENT_ID = 'HJVYMUJCTJJAYCTWCMB3M3WYQNQXUMIUPWL3S5J34C3OKYDM' # your Foursquare ID
CLIENT_SECRET = 'KKSZEBDEYUI5JUOIQUTIDDH0SX4GEH5D4YPBM23DA00G1AOQ' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

### 3. Let's explore the first neighborhood in our dataframe.

In [25]:
etobicoke_data.loc[0, 'Neighbourhood']

'Islington Avenue'

In [26]:
neighborhood_latitude = etobicoke_data.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = etobicoke_data.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = etobicoke_data.loc[0, 'Neighbourhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of Islington Avenue are 43.6678556, -79.53224240000002.

### 4. Now, let's get the top 100 venues that are in Islington Avenue within a radius of 1000 meters.

In [27]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 1000 # define radius

url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url # display URL

'https://api.foursquare.com/v2/venues/explore?&client_id=HJVYMUJCTJJAYCTWCMB3M3WYQNQXUMIUPWL3S5J34C3OKYDM&client_secret=KKSZEBDEYUI5JUOIQUTIDDH0SX4GEH5D4YPBM23DA00G1AOQ&v=20180605&ll=43.6678556,-79.53224240000002&radius=1000&limit=100'

In [28]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5c471b3cf594df0e6de16ebc'},
 'response': {'suggestedFilters': {'header': 'Tap to show:',
   'filters': [{'name': 'Open now', 'key': 'openNow'}]},
  'headerLocation': 'Edenbridge - Humber Valley',
  'headerFullLocation': 'Edenbridge - Humber Valley, Toronto',
  'headerLocationGranularity': 'neighborhood',
  'totalResults': 13,
  'suggestedBounds': {'ne': {'lat': 43.676855609000015,
    'lng': -79.51982358836784},
   'sw': {'lat': 43.65885559099999, 'lng': -79.54466121163219}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bfd53764cf820a13849ecf4',
       'name': "Java Joe's Village Cafe",
       'location': {'address': '1500 Islington Ave',
        'crossStreet': 'at Rathburn Rd',
        'lat': 43.662460906352436,
        'lng': -79.53205381416235,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.662460906352436,
          'lng': -79.53205381416235}],
        'distance': 600,
        'postalCode': 'M9A 3L8',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['1500 Islington Ave (at Rathburn Rd)',
         'Toronto ON M9A 3L8',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d16d941735',
         'name': 'Café',
         'pluralName': 'Cafés',
         'shortName': 'Café',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bfd53764cf820a13849ecf4-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b75b721f964a520301f2ee3',
       'name': 'St Georges Golf and Country Club',
       'location': {'address': 'Princess Margaret Blvd',
        'crossStreet': 'Islington Ave',
        'lat': 43.674394614408236,
        'lng': -79.53714160371202,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.674394614408236,
          'lng': -79.53714160371202}],
        'distance': 827,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Princess Margaret Blvd (Islington Ave)',
         'Toronto ON',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1e6941735',
         'name': 'Golf Course',
         'pluralName': 'Golf Courses',
         'shortName': 'Golf Course',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/golfcourse_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b75b721f964a520301f2ee3-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4d6d1a29cf7e41bd25ba8285',
       'name': 'TD Canada Trust',
       'location': {'address': '1498 Islington Ave',
        'lat': 43.6626585,
        'lng': -79.53186,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.6626585,
          'lng': -79.53186}],
        'distance': 579,
        'postalCode': 'M9A 3L7',
        'cc': 'CA',
        'city': 'Etobicoke',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['1498 Islington Ave',
         'Etobicoke ON M9A 3L7',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d10a951735',
         'name': 'Bank',
         'pluralName': 'Banks',
         'shortName': 'Bank',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/financial_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4d6d1a29cf7e41bd25ba8285-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '51fc4318498ed77bdabf46df',
       'name': 'Shoppers Drug Mart',
       'location': {'address': '1500 Islington Ave',
        'crossStreet': 'Islington Ave and Rathburn Rd',
        'lat': 43.66318130493164,
        'lng': -79.53173065185547,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66318130493164,
          'lng': -79.53173065185547}],
        'distance': 521,
        'postalCode': 'M9A 3L8',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['1500 Islington Ave (Islington Ave and Rathburn Rd)',
         'Toronto ON M9A 3L8',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d10f951735',
         'name': 'Pharmacy',
         'pluralName': 'Pharmacies',
         'shortName': 'Pharmacy',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/pharmacy_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-51fc4318498ed77bdabf46df-3'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c1a1c2e834e2d7f7b552b80',
       'name': 'Cobs Bread',
       'location': {'address': '270 The Kingsway, Unit 3',
        'lat': 43.664940367690775,
        'lng': -79.5204847956449,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.664940367690775,
          'lng': -79.5204847956449}],
        'distance': 1000,
        'postalCode': 'M9A 3T7',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['270 The Kingsway, Unit 3',
         'Toronto ON M9A 3T7',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d16a941735',
         'name': 'Bakery',
         'pluralName': 'Bakeries',
         'shortName': 'Bakery',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/bakery_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c1a1c2e834e2d7f7b552b80-4'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c7d3a80d598a093aa35c262',
       'name': 'Shoppers Drug Mart',
       'location': {'address': '270 The Kingsway',
        'crossStreet': 'Humbertown Shopping Centre',
        'lat': 43.66492036767948,
        'lng': -79.52050891093052,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66492036767948,
          'lng': -79.52050891093052}],
        'distance': 999,
        'postalCode': 'M9A 3T7',
        'cc': 'CA',
        'city': 'Etobicoke',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['270 The Kingsway (Humbertown Shopping Centre)',
         'Etobicoke ON M9A 3T7',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d10f951735',
         'name': 'Pharmacy',
         'pluralName': 'Pharmacies',
         'shortName': 'Pharmacy',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/pharmacy_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c7d3a80d598a093aa35c262-5'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4caf1dd4aef16dcbc1aba554',
       'name': 'Foodland',
       'location': {'address': '1500 Islington Ave',
        'crossStreet': 'Rathburn Rd',
        'lat': 43.663031504613876,
        'lng': -79.53192186442134,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.663031504613876,
          'lng': -79.53192186442134}],
        'distance': 537,
        'postalCode': 'M9A 3L8',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['1500 Islington Ave (Rathburn Rd)',
         'Toronto ON M9A 3L8',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d118951735',
         'name': 'Grocery Store',
         'pluralName': 'Grocery Stores',
         'shortName': 'Grocery Store',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/food_grocery_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4caf1dd4aef16dcbc1aba554-6'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4d0b9625dd5fa1cd26e25989',
       'name': 'Thorncrest Drug Store',
       'location': {'lat': 43.66298764333833,
        'lng': -79.53181698355863,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66298764333833,
          'lng': -79.53181698355863}],
        'distance': 542,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d10f951735',
         'name': 'Pharmacy',
         'pluralName': 'Pharmacies',
         'shortName': 'Pharmacy',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/pharmacy_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4d0b9625dd5fa1cd26e25989-7'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4d8bad8092e6a093e1d5d18b',
       'name': 'Thorncrest Plaza',
       'location': {'address': 'Islington/Rathburn',
        'lat': 43.66261966170492,
        'lng': -79.53214635053152,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66261966170492,
          'lng': -79.53214635053152}],
        'distance': 582,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Islington/Rathburn', 'Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1fd941735',
         'name': 'Shopping Mall',
         'pluralName': 'Shopping Malls',
         'shortName': 'Mall',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/mall_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4d8bad8092e6a093e1d5d18b-8'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c8b0bb475ba9c7490f7555c',
       'name': 'Princess Margaret Park',
       'location': {'address': '1315 Kipling Ave.',
        'lat': 43.66783531448512,
        'lng': -79.53993418272015,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66783531448512,
          'lng': -79.53993418272015}],
        'distance': 619,
        'postalCode': 'M9B 3N7',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['1315 Kipling Ave.',
         'Toronto ON M9B 3N7',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d1e7941735',
         'name': 'Playground',
         'pluralName': 'Playgrounds',
         'shortName': 'Playground',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/playground_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c8b0bb475ba9c7490f7555c-9'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '53386d92498e5dc0b1bf1ffd',
       'name': 'Humber Valley Park',
       'location': {'address': '335 The Kingsway',
        'lat': 43.66482484362267,
        'lng': -79.52499882000663,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66482484362267,
          'lng': -79.52499882000663}],
        'distance': 673,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['335 The Kingsway', 'Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d163941735',
         'name': 'Park',
         'pluralName': 'Parks',
         'shortName': 'Park',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/park_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-53386d92498e5dc0b1bf1ffd-10'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4ef9d46229c268318b7d6f3c',
       'name': 'Humber Valley Rink',
       'location': {'lat': 43.66482600084906,
        'lng': -79.5248725529118,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66482600084906,
          'lng': -79.5248725529118}],
        'distance': 682,
        'cc': 'CA',
        'country': 'Canada',
        'formattedAddress': ['Canada']},
       'categories': [{'id': '4bf58dd8d48988d168941735',
         'name': 'Skating Rink',
         'pluralName': 'Skating Rinks',
         'shortName': 'Skating Rink',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/skatingrink_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4ef9d46229c268318b7d6f3c-11'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bf867084a67c928c96025cf',
       'name': 'Humbertown Convenience',
       'location': {'address': '262 The Kingsway',
        'lat': 43.66492858170565,
        'lng': -79.52048054521903,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.66492858170565,
          'lng': -79.52048054521903}],
        'distance': 1001,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['262 The Kingsway', 'Toronto ON', 'Canada']},
       'categories': [{'id': '4d954b0ea243a5684a65b473',
         'name': 'Convenience Store',
         'pluralName': 'Convenience Stores',
         'shortName': 'Convenience Store',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/conveniencestore_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bf867084a67c928c96025cf-12'}]}]}}

In [29]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [30]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

                               name   categories        lat        lng
0           Java Joe's Village Cafe         Café  43.662461 -79.532054
1  St Georges Golf and Country Club  Golf Course  43.674395 -79.537142
2                   TD Canada Trust         Bank  43.662658 -79.531860
3                Shoppers Drug Mart     Pharmacy  43.663181 -79.531731
4                        Cobs Bread       Bakery  43.664940 -79.520485

In [31]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

13 venues were returned by Foursquare.

### 5. Explore Neighborhoods in Etobicoke

#### 5.1) Let's create a function to repeat the same process to all the neighborhoods in Etobicoke

In [32]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

#### 5.2) Now write the code to run the above function on each neighborhood and create a new dataframe called *etobicoke_venues*.

In [33]:
etobicoke_venues = getNearbyVenues(names=etobicoke_data['Neighbourhood'],
                                   latitudes=etobicoke_data['Latitude'],
                                   longitudes=etobicoke_data['Longitude']
                                  )

Islington Avenue
Cloverdale, Islington, Martin Grove, Princess Gardens, West Deane Park
Bloordale Gardens, Eringate, Markland Wood, Old Burnhamthorpe
Westmount
Kingsview Village, Martin Grove Gardens, Richview Gardens, St. Phillips
Humber Bay Shores, Mimico South, New Toronto
Albion Gardens, Beaumond Heights, Humbergate, Jamestown, Mount Olive, Silverstone, South Steeles, Thistletown
Alderwood, Long Branch
Northwest
The Kingsway, Montgomery Road, Old Mill North
Humber Bay, King's Mill Park, Kingsway Park South East, Mimico NE, Old Mill South, The Queensway East, Royal York South East, Sunnylea
Kingsway Park South West, Mimico NW, The Queensway West, Royal York South West, South of Bloor

#### 5.3)  Let's check the size of the resulting dataframe

In [34]:
print(etobicoke_venues.shape)
etobicoke_venues.head()

(71, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,"Cloverdale, Islington, Martin Grove, Princess ...",43.650943,-79.554724,TD Canada Trust,43.648921,-79.549748,Bank
1,"Cloverdale, Islington, Martin Grove, Princess ...",43.650943,-79.554724,Seaforth Golf Club,43.651183,-79.556107,Golf Course
2,"Bloordale Gardens, Eringate, Markland Wood, Ol...",43.643515,-79.577201,LCBO,43.642099,-79.576592,Liquor Store
3,"Bloordale Gardens, Eringate, Markland Wood, Ol...",43.643515,-79.577201,The Beer Store,43.641313,-79.576925,Beer Store
4,"Bloordale Gardens, Eringate, Markland Wood, Ol...",43.643515,-79.577201,Shoppers Drug Mart,43.641646,-79.577362,Pharmacy

In [35]:
etobicoke_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
"Albion Gardens, Beaumond Heights, Humbergate, Jamestown, Mount Olive, Silverstone, South Steeles, Thistletown",10,10,10,10,10,10
"Alderwood, Long Branch",10,10,10,10,10,10
"Bloordale Gardens, Eringate, Markland Wood, Old Burnhamthorpe",6,6,6,6,6,6
"Cloverdale, Islington, Martin Grove, Princess Gardens, West Deane Park",2,2,2,2,2,2
"Humber Bay Shores, Mimico South, New Toronto",15,15,15,15,15,15
"Humber Bay, King's Mill Park, Kingsway Park South East, Mimico NE, Old Mill South, The Queensway East, Royal York South East, Sunnylea",1,1,1,1,1,1
"Kingsview Village, Martin Grove Gardens, Richview Gardens, St. Phillips",4,4,4,4,4,4
"Kingsway Park South West, Mimico NW, The Queensway West, Royal York South West, South of Bloor",11,11,11,11,11,11
Northwest,2,2,2,2,2,2
"The Kingsway, Montgomery Road, Old Mill North",3,3,3,3,3,3
Westmount,7,7,7,7,7,7

#### 5.4) Let's find out how many unique categories can be curated from all the returned venues

In [36]:
print('There are {} uniques categories.'.format(len(etobicoke_venues['Venue Category'].unique())))

There are 39 uniques categories.

### 6) Analyze each neighborhood

In [37]:
# one hot encoding
etobicoke_onehot = pd.get_dummies(etobicoke_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
etobicoke_onehot['Neighbourhood'] = etobicoke_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [etobicoke_onehot.columns[-1]] + list(etobicoke_onehot.columns[:-1])
etobicoke_onehot = etobicoke_onehot[fixed_columns]

etobicoke_onehot.head()

,Neighbourhood,American Restaurant,Bakery,Bank,Baseball Field,Beer Store,Burger Joint,Bus Line,Café,Chinese Restaurant,Coffee Shop,Convenience Store,Dance Studio,Discount Store,Drugstore,Fast Food Restaurant,Flower Shop,Fried Chicken Joint,Golf Course,Grocery Store,Gym,Intersection,Liquor Store,Mexican Restaurant,Middle Eastern Restaurant,Mobile Phone Shop,Park,Pharmacy,Pizza Place,Pool,Pub,Rental Car Location,Restaurant,River,Sandwich Place,Seafood Restaurant,Skating Rink,Social Club,Supplement Shop,Wings Joint
0,"Cloverdale, Islington, Martin Grove, Princess ...",0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,"Cloverdale, Islington, Martin Grove, Princess ...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,"Bloordale Gardens, Eringate, Markland Wood, Ol...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,"Bloordale Gardens, Eringate, Markland Wood, Ol...",0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,"Bloordale Gardens, Eringate, Markland Wood, Ol...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [38]:
etobicoke_onehot.shape

(71, 40)

#### Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [39]:
etobicoke_grouped =etobicoke_onehot.groupby('Neighbourhood').mean().reset_index()
etobicoke_grouped

,Neighbourhood,American Restaurant,Bakery,Bank,Baseball Field,Beer Store,Burger Joint,Bus Line,Café,Chinese Restaurant,Coffee Shop,Convenience Store,Dance Studio,Discount Store,Drugstore,Fast Food Restaurant,Flower Shop,Fried Chicken Joint,Golf Course,Grocery Store,Gym,Intersection,Liquor Store,Mexican Restaurant,Middle Eastern Restaurant,Mobile Phone Shop,Park,Pharmacy,Pizza Place,Pool,Pub,Rental Car Location,Restaurant,River,Sandwich Place,Seafood Restaurant,Skating Rink,Social Club,Supplement Shop,Wings Joint
0,"Albion Gardens, Beaumond Heights, Humbergate, ...",0.000000,0.000000,0.0,0.0,0.100000,0.000000,0.00,0.000000,0.000000,0.100000,0.000000,0.0,0.000000,0.0,0.100000,0.000000,0.100000,0.0,0.200000,0.000000,0.000000,0.100000,0.000000,0.000000,0.00,0.000000,0.100000,0.100000,0.000000,0.0,0.0,0.000000,0.000000,0.100000,0.000000,0.0,0.000000,0.000000,0.000000
1,"Alderwood, Long Branch",0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.100000,0.000000,0.1,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.100000,0.200000,0.100000,0.1,0.0,0.000000,0.000000,0.100000,0.000000,0.1,0.000000,0.000000,0.000000
2,"Bloordale Gardens, Eringate, Markland Wood, Ol...",0.000000,0.000000,0.0,0.0,0.166667,0.000000,0.00,0.166667,0.000000,0.000000,0.166667,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.166667,0.000000,0.000000,0.00,0.000000,0.166667,0.166667,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3,"Cloverdale, Islington, Martin Grove, Princess ...",0.000000,0.000000,0.5,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
4,"Humber Bay Shores, Mimico South, New Toronto",0.066667,0.066667,0.0,0.0,0.000000,0.000000,0.00,0.133333,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.066667,0.066667,0.066667,0.0,0.000000,0.066667,0.000000,0.066667,0.066667,0.000000,0.00,0.000000,0.066667,0.066667,0.000000,0.0,0.0,0.066667,0.000000,0.066667,0.066667,0.0,0.000000,0.000000,0.000000
5,"Humber Bay, King's Mill Park, Kingsway Park So...",0.000000,0.000000,0.0,1.0,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
6,"Kingsview Village, Martin Grove Gardens, Richv...",0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.25,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.25,0.250000,0.000000,0.250000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
7,"Kingsway Park South West, Mimico NW, The Queen...",0.000000,0.090909,0.0,0.0,0.000000,0.090909,0.00,0.000000,0.000000,0.000000,0.090909,0.0,0.090909,0.0,0.090909,0.000000,0.000000,0.0,0.090909,0.090909,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.090909,0.000000,0.0,0.090909,0.090909,0.090909
8,Northwest,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.5,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.0,0.5,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
9,"The Kingsway, Montgomery Road, Old Mill North",0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.333333,0.000000,0.000000,0.333333,0.0,0.0,0.000000,0.333333,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
10,Westmount,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.00,0.000000,0.142857,0.142857,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.142857,0.000000,0.000000,0.142857,0.00,0.000000,0.000000,0.285714,0.000000,0.0,0.0,0.000000,0.000000,0.142857,0.000000,0.0,0.000000,0.000000,0.000000

#### Let's confirm the new size

In [40]:
etobicoke_grouped.shape

(11, 40)

#### Let's print each neighborhood along with the top 5 most common venues

In [41]:
num_top_venues = 5

for hood in etobicoke_grouped['Neighbourhood']:
    print("----"+hood+"----")
    temp = etobicoke_grouped[etobicoke_grouped['Neighbourhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Albion Gardens, Beaumond Heights, Humbergate, Jamestown, Mount Olive, Silverstone, South Steeles, Thistletown----
            venue  freq
0   Grocery Store   0.2
1    Liquor Store   0.1
2      Beer Store   0.1
3        Pharmacy   0.1
4  Sandwich Place   0.1


----Alderwood, Long Branch----
            venue  freq
0     Pizza Place   0.2
1             Gym   0.1
2             Pub   0.1
3    Skating Rink   0.1
4  Sandwich Place   0.1


----Bloordale Gardens, Eringate, Markland Wood, Old Burnhamthorpe----
               venue  freq
0  Convenience Store  0.17
1         Beer Store  0.17
2           Pharmacy  0.17
3               Café  0.17
4        Pizza Place  0.17


----Cloverdale, Islington, Martin Grove, Princess Gardens, West Deane Park----
                       venue  freq
0                       Bank   0.5
1                Golf Course   0.5
2        American Restaurant   0.0
3                        Pub   0.0
4  Middle Eastern Restaurant   0.0


----Humber Bay Shores, Mimico South, New Toronto----
                  venue  freq
0                  Café  0.13
1   American Restaurant  0.07
2  Fast Food Restaurant  0.07
3    Seafood Restaurant  0.07
4        Sandwich Place  0.07


----Humber Bay, King's Mill Park, Kingsway Park South East, Mimico NE, Old Mill South, The Queensway East, Royal York South East, Sunnylea----
                       venue  freq
0             Baseball Field   1.0
1        American Restaurant   0.0
2                        Pub   0.0
3         Mexican Restaurant   0.0
4  Middle Eastern Restaurant   0.0


----Kingsview Village, Martin Grove Gardens, Richview Gardens, St. Phillips----
                 venue  freq
0    Mobile Phone Shop  0.25
1                 Park  0.25
2             Bus Line  0.25
3          Pizza Place  0.25
4  American Restaurant  0.00


----Kingsway Park South West, Mimico NW, The Queensway West, Royal York South West, South of Bloor----
               venue  freq
0                Gym  0.09
1  Convenience Store  0.09
2    Supplement Shop  0.09
3        Social Club  0.09
4     Sandwich Place  0.09


----Northwest----
                 venue  freq
0            Drugstore   0.5
1  Rental Car Location   0.5
2  American Restaurant   0.0
3                 Pool   0.0
4   Mexican Restaurant   0.0


----The Kingsway, Montgomery Road, Old Mill North----
                 venue  freq
0                 Park  0.33
1                River  0.33
2                 Pool  0.33
3  American Restaurant  0.00
4                  Pub  0.00


----Westmount----
                       venue  freq
0                Pizza Place  0.29
1               Intersection  0.14
2  Middle Eastern Restaurant  0.14
3             Sandwich Place  0.14
4         Chinese Restaurant  0.14

#### Let's put that into a *pandas* dataframe

In [42]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [43]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighbourhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighbourhood'] = etobicoke_grouped['Neighbourhood']

for ind in np.arange(etobicoke_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(etobicoke_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighbourhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Albion Gardens, Beaumond Heights, Humbergate, ...",Grocery Store,Pizza Place,Coffee Shop,Fast Food Restaurant,Sandwich Place,Beer Store,Liquor Store,Fried Chicken Joint,Pharmacy,Drugstore
1,"Alderwood, Long Branch",Pizza Place,Pub,Dance Studio,Coffee Shop,Pharmacy,Pool,Gym,Sandwich Place,Skating Rink,Beer Store
2,"Bloordale Gardens, Eringate, Markland Wood, Ol...",Pharmacy,Liquor Store,Beer Store,Café,Convenience Store,Pizza Place,Wings Joint,Flower Shop,Fast Food Restaurant,Drugstore
3,"Cloverdale, Islington, Martin Grove, Princess ...",Golf Course,Bank,Coffee Shop,Fried Chicken Joint,Flower Shop,Fast Food Restaurant,Drugstore,Discount Store,Dance Studio,Convenience Store
4,"Humber Bay Shores, Mimico South, New Toronto",Café,Gym,Pizza Place,Bakery,Fast Food Restaurant,Flower Shop,Fried Chicken Joint,Liquor Store,Mexican Restaurant,Pharmacy

## 7. Cluster Neighborhoods

In [44]:
# set number of clusters
kclusters = 5

etobicoke_grouped_clustering = etobicoke_grouped.drop('Neighbourhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(etobicoke_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 0, 0, 3, 0, 1, 0, 0, 2, 4], dtype=int32)

In [45]:
# add clustering labels
#neighborhoods_venues_sorted.drop(['Cluster Labels'],axis=1)
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_.astype(int))

etobicoke_merged = etobicoke_data

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
etobicoke_merged = etobicoke_merged.join(neighborhoods_venues_sorted.set_index('Neighbourhood'), on='Neighbourhood')

etobicoke_merged.head() # check the last columns!

,Postcode,Borough,Neighbourhood,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",43.650943,-79.554724,3.0,Golf Course,Bank,Coffee Shop,Fried Chicken Joint,Flower Shop,Fast Food Restaurant,Drugstore,Discount Store,Dance Studio,Convenience Store
2,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol...",43.643515,-79.577201,0.0,Pharmacy,Liquor Store,Beer Store,Café,Convenience Store,Pizza Place,Wings Joint,Flower Shop,Fast Food Restaurant,Drugstore
3,M9P,Etobicoke,Westmount,43.696319,-79.532242,0.0,Pizza Place,Chinese Restaurant,Intersection,Sandwich Place,Middle Eastern Restaurant,Coffee Shop,Fast Food Restaurant,Drugstore,Discount Store,Dance Studio
4,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724,0.0,Pizza Place,Bus Line,Mobile Phone Shop,Park,Wings Joint,Flower Shop,Fast Food Restaurant,Drugstore,Discount Store,Dance Studio

In [46]:
etobicoke_merged.dropna(inplace=True) 
etobicoke_merged.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",43.650943,-79.554724,3.0,Golf Course,Bank,Coffee Shop,Fried Chicken Joint,Flower Shop,Fast Food Restaurant,Drugstore,Discount Store,Dance Studio,Convenience Store
2,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol...",43.643515,-79.577201,0.0,Pharmacy,Liquor Store,Beer Store,Café,Convenience Store,Pizza Place,Wings Joint,Flower Shop,Fast Food Restaurant,Drugstore
3,M9P,Etobicoke,Westmount,43.696319,-79.532242,0.0,Pizza Place,Chinese Restaurant,Intersection,Sandwich Place,Middle Eastern Restaurant,Coffee Shop,Fast Food Restaurant,Drugstore,Discount Store,Dance Studio
4,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724,0.0,Pizza Place,Bus Line,Mobile Phone Shop,Park,Wings Joint,Flower Shop,Fast Food Restaurant,Drugstore,Discount Store,Dance Studio
5,M8V,Etobicoke,"Humber Bay Shores, Mimico South, New Toronto",43.605647,-79.501321,0.0,Café,Gym,Pizza Place,Bakery,Fast Food Restaurant,Flower Shop,Fried Chicken Joint,Liquor Store,Mexican Restaurant,Pharmacy

In [47]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(etobicoke_merged['Latitude'], etobicoke_merged['Longitude'], etobicoke_merged['Neighbourhood'], etobicoke_merged['Cluster Labels'].astype(int)):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
display(map_clusters)

## 5. Examine Clusters

In [48]:
etobicoke_merged.loc[etobicoke_merged['Cluster Labels'] == 0, etobicoke_merged.columns[[1] + list(range(5, etobicoke_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
2,Etobicoke,0.0,Pharmacy,Liquor Store,Beer Store,Café,Convenience Store,Pizza Place,Wings Joint,Flower Shop,Fast Food Restaurant,Drugstore
3,Etobicoke,0.0,Pizza Place,Chinese Restaurant,Intersection,Sandwich Place,Middle Eastern Restaurant,Coffee Shop,Fast Food Restaurant,Drugstore,Discount Store,Dance Studio
4,Etobicoke,0.0,Pizza Place,Bus Line,Mobile Phone Shop,Park,Wings Joint,Flower Shop,Fast Food Restaurant,Drugstore,Discount Store,Dance Studio
5,Etobicoke,0.0,Café,Gym,Pizza Place,Bakery,Fast Food Restaurant,Flower Shop,Fried Chicken Joint,Liquor Store,Mexican Restaurant,Pharmacy
6,Etobicoke,0.0,Grocery Store,Pizza Place,Coffee Shop,Fast Food Restaurant,Sandwich Place,Beer Store,Liquor Store,Fried Chicken Joint,Pharmacy,Drugstore
7,Etobicoke,0.0,Pizza Place,Pub,Dance Studio,Coffee Shop,Pharmacy,Pool,Gym,Sandwich Place,Skating Rink,Beer Store
11,Etobicoke,0.0,Wings Joint,Supplement Shop,Bakery,Burger Joint,Convenience Store,Discount Store,Fast Food Restaurant,Grocery Store,Gym,Social Club

In [49]:
etobicoke_merged.loc[etobicoke_merged['Cluster Labels'] == 1, etobicoke_merged.columns[[1] + list(range(5, etobicoke_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
10,Etobicoke,1.0,Baseball Field,Wings Joint,Coffee Shop,Fried Chicken Joint,Flower Shop,Fast Food Restaurant,Drugstore,Discount Store,Dance Studio,Convenience Store

In [50]:
etobicoke_merged.loc[etobicoke_merged['Cluster Labels'] == 2, etobicoke_merged.columns[[1] + list(range(5, etobicoke_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
8,Etobicoke,2.0,Drugstore,Rental Car Location,Wings Joint,Coffee Shop,Fried Chicken Joint,Flower Shop,Fast Food Restaurant,Discount Store,Dance Studio,Convenience Store

In [51]:
etobicoke_merged.loc[etobicoke_merged['Cluster Labels'] == 3, etobicoke_merged.columns[[1] + list(range(5, etobicoke_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,Etobicoke,3.0,Golf Course,Bank,Coffee Shop,Fried Chicken Joint,Flower Shop,Fast Food Restaurant,Drugstore,Discount Store,Dance Studio,Convenience Store

In [52]:
etobicoke_merged.loc[etobicoke_merged['Cluster Labels'] == 4, etobicoke_merged.columns[[1] + list(range(5, etobicoke_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
9,Etobicoke,4.0,Pool,River,Park,Chinese Restaurant,Flower Shop,Fast Food Restaurant,Drugstore,Discount Store,Dance Studio,Convenience Store

In [53]:
etobicoke_merged.loc[etobicoke_merged['Cluster Labels'] == 5, etobicoke_merged.columns[[1] + list(range(5, etobicoke_merged.shape[1]))]]

Empty DataFrame
Columns: [Borough, Cluster Labels, 1st Most Common Venue, 2nd Most Common Venue, 3rd Most Common Venue, 4th Most Common Venue, 5th Most Common Venue, 6th Most Common Venue, 7th Most Common Venue, 8th Most Common Venue, 9th Most Common Venue, 10th Most Common Venue]
Index: []